*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html
{
    background-color: rgb(245,245,245);
}
#t1
{
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
}
p
{
    font-size: 20px;
    margin-top: 25px;
}
#img1 
{
    margin-left: auto; margin-right: auto;
    display: block;
    margin-top: 20vh;
    width: 65px;
}
#email
{
    margin-top: 30px;
    font-size: 18px;
    padding: 20px 10px;
    border-radius:5px ;
    border: 0px;
    width: 400px;
    font-weight: bold;
}
#submit
{
    display: block;
    margin-top: 15px;
    margin-left: auto; margin-right: auto;
    padding:20px 30px;
    color: white;
    border-radius: 5px;
    border: 0px;
    background-color:#72c6d1;
    font-size: 15px;
}
.content
{
    text-align: center;  
}
