*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
.left
{   
    float: left;
    border :4px solid #cacaca;
    margin-right: 40px ;
    margin-top: 3vh;
    
}
.right
{   
    float: left;
    margin-top: 5vh;
    width: 600px;
    margin-right: 3vw ;

}
.container
{   width: 1000px;
    margin-left: auto;  margin-right: auto;

}
h1
{   
    display: block;
    padding-left: 40px;
    color:#5162f1;
}
#img 
{
    width: 250px;
    height: 280px;
   
}
p
{
    margin-top: 10px;
    font-size: 17px;
}
button
{   
    margin-top: 10px;
    font-size: 15px ;
    padding: 3px 20px;
    border-radius:3px;
    background-color: #fff;
}
h2
{
    font-size: 30px;
}