*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#name
{
    padding: 5px 10px 5px ;
    width: 320px;
    margin-top: 15px;
}
#email
{   
    margin-left: 45px;
    padding: 5px 10px 5px ;
    width: 320px;
}
#subject 
{   
    margin-left: auto;  margin-right: auto;
    display: block;
    padding: 5px 10px 5px ;
    width: 690px;
    margin-top: 15px;
}
#message
{
    margin-top: 15px;

}
#submit
{
    margin-top: 5px;
}
p
{   
    display: inline;
    margin-top: 5px;
    padding-left: 275px;
}

.container 
{
    display: block;
    margin-left: auto;  margin-right: auto;
   width: 690px;
  
}
#submit
{
    border-style: solid ;
    border-radius: 3px;
    background-color: #7dcefd;
    font-size: 15px;
    color: #fff;
    border-color: #66b5e3;
    padding: 10px 15px;
}