*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h2
{
   
    font-size: 17px;
}

#name
{
    padding: 10px 10px 10px ;
    width: 320px;
    margin-top: 15px;
}
#email
{   
    margin-left: 45px;
    padding: 10px 10px 10px ;
    width: 320px;
}
#subject 
{   
    margin-left: auto;  margin-right: auto;
    display: block;
    padding: 10px 10px 10px ;
    width: 690px;
    margin-top: 15px;
}
#message
{
    margin-top: 15px;
    padding: 10px 10px 10px ;

}
#submit
{
    margin-top: 5px;
}
p
{   
    margin-top: 5px;
    float: right;
}

.container 
{   
    margin-top: 50px;
    display: block;
    margin-left: auto;  margin-right: auto;
   width: 690px;
  
}
#submit
{
    border-style: solid ;
    border-radius: 3px;
    background-color: #7dcefd;
    font-size: 15px;
    color: #fff;
    border-color: #66b5e3;
    padding: 10px 15px;
}