*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.t
{
    background-color: #15cadf;
}
h2
{   
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 60px;
    color: #fff;
    width: 600px;
}
.container
{
    width: 1000px;
    margin-left: auto;  margin-right: auto;
}
.box
{
    margin: -30px 60px 0px 60px;
    display: flex;
    justify-content: space-between ;
    height: 250px;
  
}
.box1
{
    width: 280px;
    background-color: white;
    padding-left: 30px;
    padding-right: 40px;
}
.box2
{
    width: 280px;
    background-color: white;
    padding-left: 30px;
    padding-right: 40px;
}
.box3
{
    width: 280px;
    background-color: white;
    padding-left: 30px;
    padding-right: 40px;
}
html
{
       background-color:  rgb(245,245,245);
}
img
{   
    padding-top: 40px;
    padding-left: 0px;
}
.box p
{
    color: rgba(0,0,0,0.3);
}